.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container{
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 5%;
  border-bottom-right-radius: 20%;
}
@media(width<650px){
  .container{
    max-width: 55vw;
    min-width: 260px;
  }


}
