*{
    margin: 0;
}
.form-input-container{
    display: flex;
    gap: 30px;
}
.field-container{
    display: flex;
    flex-direction: column;
}
input{
    height: 30px;
    width: 80px;
    margin: 10px;
}
p{
    color: rgb(187, 0, 0);
    font-size: 12px;
    position: absolute;
    top:70px;
    margin-left: 10px;
}
button{
    margin-top: 30px;
}
